# ============================
# Maven
# ============================
target/
!.mvn/wrapper/maven-wrapper.jar

# ============================
# IDEs
# ============================
# STS / Eclipse
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# ============================
# VS Code
# ============================
.vscode/

# ============================
# OS-specific
# ============================
.DS_Store
Thumbs.db

# ============================
# Logs and Environment
# ============================
*.log
*.env

